// Colors
$black: rgb(74, 74, 74);
$hoverGray: hsl(56, 100%, 94%);
$yellow: rgb(255, 210, 25);
$buttonColor: rgb(233, 233, 233);
$lightGray: rgb(136, 136, 136);
$backgroundGray: rgb(246, 246, 246);
$white: rgb(255, 255, 255);

// Font Size

$font-Light: 0.75rem;  //12px
$font-Medium: 1.25rem;  //20px
$font-Blod: 1.75rem;  //28px